body {
  
}

#video{
    margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 100vw;
  background-repeat: no-repeat;
  margin-top: 90px;
  display: flex;

}

canvas {
    position: relative;
    bottom: 480px;
    left: 500px;
    margin-left: 200px;
    width: 650px;
    margin-right: 200px;
    height: 480px;
}