* {
    font-family: "Montserrat", sans-serif;
}

h1 {
    font-size: 60px;
    font-weight: bold;
}

h2 {
    font-size: 50px;
    font-weight: bold;
}

h3 {
    font-size: 45px;
    font-weight: bold;
}

h4 {
    font-size: 40px;
    font-weight: bold;
}

h5 {
    font-size: 30px;
    font-weight: bold;
}

h6 {
    font-size: 20px;
    font-weight: bold;
}


/* =================================================================
General
=================================================================*/


/* =================================================================
Menu
=================================================================*/

.menu {
    width: 100%;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1)
}

.item {
    margin: 0;
    padding: 0;
}

a.brand-menu {
    display: block;
    color: black;
    text-align: center;
    justify-content: center;
    padding: 16px;
    text-decoration: none;
}

.menu-link:hover {
    color: #00F7C9;
}

.menu-list {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    list-style: none;
    overflow: hidden;
    text-decoration: none;
    text-align: center;
    margin: 0 auto;
}

.menu-list li a {
    color: black;
    text-align: center;
    width: 150px;
    height: 30px;
    margin: 2px;
    float: left;
    margin: 0px;
    padding: 0px;
}


/*=================================================================
RICONOSCIMENTO
=================================================================*/

.video {
    border: 3px solid black;
}


/*=================================================================
lOGIN
=================================================================*/

.img {
    padding-top: 80px;
    margin: 0 auto;
}

#img-login {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

.title {
    position: absolute;
}

.container {
    width: auto;
    height: 800px;
    background-image: url('./assets/img/Login.png');
    background-size: 1050px;
    background-repeat: no-repeat;
}

.containers {
    padding-top: 20px;
    margin-left: 200px;
    margin-right: 200px;
    width: 100%;
}

.center {
    position: relative;
    top: 20%;
    margin: auto;
    width: 300px;
}

.login-data {
    outline: none;
    width: 100%;
    padding: 10px;
    margin-top: 20px;
    margin-bottom: 10px;
    border-radius: 10px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-image-source: linear-gradient(92.51deg, #00FF94 -13.96%, #00F0FF 112.71%);
    border-width: 1px;
    border-image-slice: 1;
}

.btn-login {
    outline: none;
    padding: 15px;
    width: 100%;
    margin-top: 30px;
    border-radius: 10px;
    border: none;
    background: linear-gradient(92.51deg, #00FF94 -13.96%, #00F0FF 112.71%);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.btn-login:hover,
.btn-login:active {
    outline: none;
}

input,
button {
    display: block;
    border-radius: 10px;
    outline: none;
    border: none;
}

.password-recovery {
    text-align: left;
    color: gray;
}

.btn-login-text {
    color: white;
    font-weight: bold;
    font-size: 24px
}

.btn-login-text:hover {
    color: white;
    font-weight: bold;
    font-size: 24px
}


/* =================================================================
media query
=================================================================*/

@media (min-width: 1024px) {
    #videoStart {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 80px 20px 80px 60px;
        width: 900px;
    }
}

@media (min-width: 375px) {
    #videoStart {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 80px 0px 80px 10px;
        width: 350px;
    }
}

@media (min-width: 1025px) {
    #videoStart {
        position: inherit;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0px 20px 0px 510px;
        width: 1000px;
    }
}
